<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animated Login Form | CodingNepal</title>
    <link rel="stylesheet" href="../static/css/login.css">
  </head>
  <body>
    <div class="center">
      <h1>Customer Login</h1>
      <form method="post" action="/login_validation">
        <div class="txt_field">
          <input type="email"  name="email"  required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" class="form-control" name="password" required>
          <span></span>
          <label>Password</label>
        </div>
        <div class="pass"><a style="text-decoration: none; color: rgb(155, 150, 150);" href="/forget">Forgot Password?</a></div>
        <input type="submit" value="Login">
        <div class="signup_link">
          Not a member? <a href="/register">Signup</a>
        </div>
      </form>
    </div>
      <div class="admin">
        <button ><a href="/admin" ><h2>Login As A Admin</h2></a></button>
      </div>
  </body>
</html>
